In [64]:
import pandas as pd
ludnosc = pd.read_csv('ludnosc.csv',sep=";", quotechar='"')
ludnosc = ludnosc.drop(columns='Kod')

In [65]:
for i, col in enumerate(ludnosc.columns):
    print(f"{i}: {col}")

0: Nazwa
1: ludność w tysiącach;2016;[tys. osób]
2: ludność w tysiącach;2017;[tys. osób]
3: ludność w tysiącach;2018;[tys. osób]
4: ludność w tysiącach;2019;[tys. osób]
5: ludność w tysiącach;2020;[tys. osób]
6: ludność w tysiącach;2021;[tys. osób]
7: ludność w tysiącach;2022;[tys. osób]
8: ludność w tysiącach;2023;[tys. osób]
9: ludność w tysiącach;2024;[tys. osób]
10: Unnamed: 11

In [66]:
ludnosc_long = ludnosc.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Rok',     #Nowa Kolumna
                  value_name='Ludnosc w tys')  #Kolumna dla wartości
ludnosc_long

                   Nazwa                                   Rok Ludnosc w tys
0                 POLSKA  ludność w tysiącach;2016;[tys. osób]      38432,99
1           DOLNOŚLĄSKIE  ludność w tysiącach;2016;[tys. osób]       2903,71
2     KUJAWSKO-POMORSKIE  ludność w tysiącach;2016;[tys. osób]       2083,93
3              LUBELSKIE  ludność w tysiącach;2016;[tys. osób]       2133,34
4               LUBUSKIE  ludność w tysiącach;2016;[tys. osób]       1017,38
..                   ...                                   ...           ...
165              ŚLĄSKIE                           Unnamed: 11           NaN
166       ŚWIĘTOKRZYSKIE                           Unnamed: 11           NaN
167  WARMIŃSKO-MAZURSKIE                           Unnamed: 11           NaN
168        WIELKOPOLSKIE                           Unnamed: 11           NaN
169   ZACHODNIOPOMORSKIE                           Unnamed: 11           NaN

[170 rows x 3 columns]

In [67]:
column_parts = ludnosc_long['Rok'].str.split(';', expand=True)
column_parts

                       0     1            2
0    ludność w tysiącach  2016  [tys. osób]
1    ludność w tysiącach  2016  [tys. osób]
2    ludność w tysiącach  2016  [tys. osób]
3    ludność w tysiącach  2016  [tys. osób]
4    ludność w tysiącach  2016  [tys. osób]
..                   ...   ...          ...
165          Unnamed: 11  None         None
166          Unnamed: 11  None         None
167          Unnamed: 11  None         None
168          Unnamed: 11  None         None
169          Unnamed: 11  None         None

[170 rows x 3 columns]

In [68]:
ludnosc_long['Rok'] = column_parts[1]
ludnosc_long['Województwo'] = ludnosc_long['Nazwa']

# Final DataFrame
df_ludnosc = ludnosc_long[['Województwo', 'Rok', 'Ludnosc w tys']]

# Sorting
df_ludnosc = df_ludnosc.sort_values(['Rok'])

In [69]:
df_ludnosc = df_ludnosc.dropna()

In [77]:
df_ludnosc['Ludnosc w tys'] = df_ludnosc['Ludnosc w tys'].str.replace(',','.')
df_ludnosc['Ludnosc w tys'] = df_ludnosc['Ludnosc w tys'].astype(float)

In [86]:
df_ludnosc['Lud_100tys'] = df_ludnosc['Ludnosc w tys']/100
df_ludnosc = df_ludnosc.drop(columns= 'Ludnosc w tys')

In [87]:
df_ludnosc

             Województwo   Rok  Lud_100tys
0                 POLSKA  2016    384.3299
16    ZACHODNIOPOMORSKIE  2016     17.0817
15         WIELKOPOLSKIE  2016     34.8163
14   WARMIŃSKO-MAZURSKIE  2016     14.3637
13        ŚWIĘTOKRZYSKIE  2016     12.5290
..                   ...   ...         ...
137         DOLNOŚLĄSKIE  2024     28.6824
136               POLSKA  2024    374.8909
151        WIELKOPOLSKIE  2024     34.7999
143          MAZOWIECKIE  2024     55.0832
152   ZACHODNIOPOMORSKIE  2024     16.2276

[153 rows x 3 columns]

In [88]:
df_ludnosc.to_csv('ludnosc_100tys', index=False)