In [1]:
import pandas as pd
bezrobocie = pd.read_csv('bezrobocie.csv',sep=";", quotechar='"')
bezrobocie = bezrobocie.drop(columns='Kod')

In [2]:
for i, col in enumerate(bezrobocie.columns):
    print(f"{i}: {col}")

0: Nazwa
1: styczeń;stopa bezrobocia rejestrowanego;2016;[%]
2: styczeń;stopa bezrobocia rejestrowanego;2017;[%]
3: styczeń;stopa bezrobocia rejestrowanego;2018;[%]
4: styczeń;stopa bezrobocia rejestrowanego;2019;[%]
5: styczeń;stopa bezrobocia rejestrowanego;2020;[%]
6: styczeń;stopa bezrobocia rejestrowanego;2021;[%]
7: styczeń;stopa bezrobocia rejestrowanego;2022;[%]
8: styczeń;stopa bezrobocia rejestrowanego;2023;[%]
9: styczeń;stopa bezrobocia rejestrowanego;2024;[%]
10: styczeń;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
11: styczeń;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
12: styczeń;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
13: styczeń;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
14: styczeń;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
15: styczeń;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
16: styczeń;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
17: styczeń;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
18: styczeń;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
19: luty;stopa bezrobocia rejestrowanego;2016;[%]
20: luty;stopa bezrobocia rejestrowanego;2017;[%]
21: luty;stopa bezrobocia rejestrowanego;2018;[%]
22: luty;stopa bezrobocia rejestrowanego;2019;[%]
23: luty;stopa bezrobocia rejestrowanego;2020;[%]
24: luty;stopa bezrobocia rejestrowanego;2021;[%]
25: luty;stopa bezrobocia rejestrowanego;2022;[%]
26: luty;stopa bezrobocia rejestrowanego;2023;[%]
27: luty;stopa bezrobocia rejestrowanego;2024;[%]
28: luty;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
29: luty;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
30: luty;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
31: luty;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
32: luty;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
33: luty;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
34: luty;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
35: luty;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
36: luty;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
37: marzec;stopa bezrobocia rejestrowanego;2016;[%]
38: marzec;stopa bezrobocia rejestrowanego;2017;[%]
39: marzec;stopa bezrobocia rejestrowanego;2018;[%]
40: marzec;stopa bezrobocia rejestrowanego;2019;[%]
41: marzec;stopa bezrobocia rejestrowanego;2020;[%]
42: marzec;stopa bezrobocia rejestrowanego;2021;[%]
43: marzec;stopa bezrobocia rejestrowanego;2022;[%]
44: marzec;stopa bezrobocia rejestrowanego;2023;[%]
45: marzec;stopa bezrobocia rejestrowanego;2024;[%]
46: marzec;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
47: marzec;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
48: marzec;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
49: marzec;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
50: marzec;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
51: marzec;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
52: marzec;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
53: marzec;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
54: marzec;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
55: kwiecień;stopa bezrobocia rejestrowanego;2016;[%]
56: kwiecień;stopa bezrobocia rejestrowanego;2017;[%]
57: kwiecień;stopa bezrobocia rejestrowanego;2018;[%]
58: kwiecień;stopa bezrobocia rejestrowanego;2019;[%]
59: kwiecień;stopa bezrobocia rejestrowanego;2020;[%]
60: kwiecień;stopa bezrobocia rejestrowanego;2021;[%]
61: kwiecień;stopa bezrobocia rejestrowanego;2022;[%]
62: kwiecień;stopa bezrobocia rejestrowanego;2023;[%]
63: kwiecień;stopa bezrobocia rejestrowanego;2024;[%]
64: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
65: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
66: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
67: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
68: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
69: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
70: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
71: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
72: kwiecień;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
73: maj;stopa bezrobocia rejestrowanego;2016;[%]
74: maj;stopa bezrobocia rejestrowanego;2017;[%]
75: maj;stopa bezrobocia rejestrowanego;2018;[%]
76: maj;stopa bezrobocia rejestrowanego;2019;[%]
77: maj;stopa bezrobocia rejestrowanego;2020;[%]
78: maj;stopa bezrobocia rejestrowanego;2021;[%]
79: maj;stopa bezrobocia rejestrowanego;2022;[%]
80: maj;stopa bezrobocia rejestrowanego;2023;[%]
81: maj;stopa bezrobocia rejestrowanego;2024;[%]
82: maj;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
83: maj;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
84: maj;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
85: maj;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
86: maj;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
87: maj;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
88: maj;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
89: maj;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
90: maj;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
91: czerwiec;stopa bezrobocia rejestrowanego;2016;[%]
92: czerwiec;stopa bezrobocia rejestrowanego;2017;[%]
93: czerwiec;stopa bezrobocia rejestrowanego;2018;[%]
94: czerwiec;stopa bezrobocia rejestrowanego;2019;[%]
95: czerwiec;stopa bezrobocia rejestrowanego;2020;[%]
96: czerwiec;stopa bezrobocia rejestrowanego;2021;[%]
97: czerwiec;stopa bezrobocia rejestrowanego;2022;[%]
98: czerwiec;stopa bezrobocia rejestrowanego;2023;[%]
99: czerwiec;stopa bezrobocia rejestrowanego;2024;[%]
100: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
101: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
102: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
103: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
104: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
105: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
106: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
107: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
108: czerwiec;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
109: lipiec;stopa bezrobocia rejestrowanego;2016;[%]
110: lipiec;stopa bezrobocia rejestrowanego;2017;[%]
111: lipiec;stopa bezrobocia rejestrowanego;2018;[%]
112: lipiec;stopa bezrobocia rejestrowanego;2019;[%]
113: lipiec;stopa bezrobocia rejestrowanego;2020;[%]
114: lipiec;stopa bezrobocia rejestrowanego;2021;[%]
115: lipiec;stopa bezrobocia rejestrowanego;2022;[%]
116: lipiec;stopa bezrobocia rejestrowanego;2023;[%]
117: lipiec;stopa bezrobocia rejestrowanego;2024;[%]
118: lipiec;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
119: lipiec;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
120: lipiec;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
121: lipiec;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
122: lipiec;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
123: lipiec;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
124: lipiec;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
125: lipiec;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
126: lipiec;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
127: sierpień;stopa bezrobocia rejestrowanego;2016;[%]
128: sierpień;stopa bezrobocia rejestrowanego;2017;[%]
129: sierpień;stopa bezrobocia rejestrowanego;2018;[%]
130: sierpień;stopa bezrobocia rejestrowanego;2019;[%]
131: sierpień;stopa bezrobocia rejestrowanego;2020;[%]
132: sierpień;stopa bezrobocia rejestrowanego;2021;[%]
133: sierpień;stopa bezrobocia rejestrowanego;2022;[%]
134: sierpień;stopa bezrobocia rejestrowanego;2023;[%]
135: sierpień;stopa bezrobocia rejestrowanego;2024;[%]
136: sierpień;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
137: sierpień;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
138: sierpień;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
139: sierpień;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
140: sierpień;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
141: sierpień;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
142: sierpień;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
143: sierpień;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
144: sierpień;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
145: wrzesień;stopa bezrobocia rejestrowanego;2016;[%]
146: wrzesień;stopa bezrobocia rejestrowanego;2017;[%]
147: wrzesień;stopa bezrobocia rejestrowanego;2018;[%]
148: wrzesień;stopa bezrobocia rejestrowanego;2019;[%]
149: wrzesień;stopa bezrobocia rejestrowanego;2020;[%]
150: wrzesień;stopa bezrobocia rejestrowanego;2021;[%]
151: wrzesień;stopa bezrobocia rejestrowanego;2022;[%]
152: wrzesień;stopa bezrobocia rejestrowanego;2023;[%]
153: wrzesień;stopa bezrobocia rejestrowanego;2024;[%]
154: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
155: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
156: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
157: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
158: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
159: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
160: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
161: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
162: wrzesień;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
163: październik;stopa bezrobocia rejestrowanego;2016;[%]
164: październik;stopa bezrobocia rejestrowanego;2017;[%]
165: październik;stopa bezrobocia rejestrowanego;2018;[%]
166: październik;stopa bezrobocia rejestrowanego;2019;[%]
167: październik;stopa bezrobocia rejestrowanego;2020;[%]
168: październik;stopa bezrobocia rejestrowanego;2021;[%]
169: październik;stopa bezrobocia rejestrowanego;2022;[%]
170: październik;stopa bezrobocia rejestrowanego;2023;[%]
171: październik;stopa bezrobocia rejestrowanego;2024;[%]
172: październik;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
173: październik;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
174: październik;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
175: październik;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
176: październik;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
177: październik;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
178: październik;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
179: październik;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
180: październik;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
181: listopad;stopa bezrobocia rejestrowanego;2016;[%]
182: listopad;stopa bezrobocia rejestrowanego;2017;[%]
183: listopad;stopa bezrobocia rejestrowanego;2018;[%]
184: listopad;stopa bezrobocia rejestrowanego;2019;[%]
185: listopad;stopa bezrobocia rejestrowanego;2020;[%]
186: listopad;stopa bezrobocia rejestrowanego;2021;[%]
187: listopad;stopa bezrobocia rejestrowanego;2022;[%]
188: listopad;stopa bezrobocia rejestrowanego;2023;[%]
189: listopad;stopa bezrobocia rejestrowanego;2024;[%]
190: listopad;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
191: listopad;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
192: listopad;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
193: listopad;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
194: listopad;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
195: listopad;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
196: listopad;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
197: listopad;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
198: listopad;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
199: grudzień;stopa bezrobocia rejestrowanego;2016;[%]
200: grudzień;stopa bezrobocia rejestrowanego;2017;[%]
201: grudzień;stopa bezrobocia rejestrowanego;2018;[%]
202: grudzień;stopa bezrobocia rejestrowanego;2019;[%]
203: grudzień;stopa bezrobocia rejestrowanego;2020;[%]
204: grudzień;stopa bezrobocia rejestrowanego;2021;[%]
205: grudzień;stopa bezrobocia rejestrowanego;2022;[%]
206: grudzień;stopa bezrobocia rejestrowanego;2023;[%]
207: grudzień;stopa bezrobocia rejestrowanego;2024;[%]
208: grudzień;stopa napływu bezrobotnych zarejestrowanych;2016;[%]
209: grudzień;stopa napływu bezrobotnych zarejestrowanych;2017;[%]
210: grudzień;stopa napływu bezrobotnych zarejestrowanych;2018;[%]
211: grudzień;stopa napływu bezrobotnych zarejestrowanych;2019;[%]
212: grudzień;stopa napływu bezrobotnych zarejestrowanych;2020;[%]
213: grudzień;stopa napływu bezrobotnych zarejestrowanych;2021;[%]
214: grudzień;stopa napływu bezrobotnych zarejestrowanych;2022;[%]
215: grudzień;stopa napływu bezrobotnych zarejestrowanych;2023;[%]
216: grudzień;stopa napływu bezrobotnych zarejestrowanych;2024;[%]
217: Unnamed: 218

In [3]:
bezrobocie = bezrobocie.loc[:, bezrobocie.columns.str.contains("stopa bezrobocia rejestrowanego", case=False)| 
                        bezrobocie.columns.str.contains("Nazwa", case=False)]

for i, col in enumerate(bezrobocie.columns):
    print(f"{i}: {col}")

0: Nazwa
1: styczeń;stopa bezrobocia rejestrowanego;2016;[%]
2: styczeń;stopa bezrobocia rejestrowanego;2017;[%]
3: styczeń;stopa bezrobocia rejestrowanego;2018;[%]
4: styczeń;stopa bezrobocia rejestrowanego;2019;[%]
5: styczeń;stopa bezrobocia rejestrowanego;2020;[%]
6: styczeń;stopa bezrobocia rejestrowanego;2021;[%]
7: styczeń;stopa bezrobocia rejestrowanego;2022;[%]
8: styczeń;stopa bezrobocia rejestrowanego;2023;[%]
9: styczeń;stopa bezrobocia rejestrowanego;2024;[%]
10: luty;stopa bezrobocia rejestrowanego;2016;[%]
11: luty;stopa bezrobocia rejestrowanego;2017;[%]
12: luty;stopa bezrobocia rejestrowanego;2018;[%]
13: luty;stopa bezrobocia rejestrowanego;2019;[%]
14: luty;stopa bezrobocia rejestrowanego;2020;[%]
15: luty;stopa bezrobocia rejestrowanego;2021;[%]
16: luty;stopa bezrobocia rejestrowanego;2022;[%]
17: luty;stopa bezrobocia rejestrowanego;2023;[%]
18: luty;stopa bezrobocia rejestrowanego;2024;[%]
19: marzec;stopa bezrobocia rejestrowanego;2016;[%]
20: marzec;stopa bezrobocia rejestrowanego;2017;[%]
21: marzec;stopa bezrobocia rejestrowanego;2018;[%]
22: marzec;stopa bezrobocia rejestrowanego;2019;[%]
23: marzec;stopa bezrobocia rejestrowanego;2020;[%]
24: marzec;stopa bezrobocia rejestrowanego;2021;[%]
25: marzec;stopa bezrobocia rejestrowanego;2022;[%]
26: marzec;stopa bezrobocia rejestrowanego;2023;[%]
27: marzec;stopa bezrobocia rejestrowanego;2024;[%]
28: kwiecień;stopa bezrobocia rejestrowanego;2016;[%]
29: kwiecień;stopa bezrobocia rejestrowanego;2017;[%]
30: kwiecień;stopa bezrobocia rejestrowanego;2018;[%]
31: kwiecień;stopa bezrobocia rejestrowanego;2019;[%]
32: kwiecień;stopa bezrobocia rejestrowanego;2020;[%]
33: kwiecień;stopa bezrobocia rejestrowanego;2021;[%]
34: kwiecień;stopa bezrobocia rejestrowanego;2022;[%]
35: kwiecień;stopa bezrobocia rejestrowanego;2023;[%]
36: kwiecień;stopa bezrobocia rejestrowanego;2024;[%]
37: maj;stopa bezrobocia rejestrowanego;2016;[%]
38: maj;stopa bezrobocia rejestrowanego;2017;[%]
39: maj;stopa bezrobocia rejestrowanego;2018;[%]
40: maj;stopa bezrobocia rejestrowanego;2019;[%]
41: maj;stopa bezrobocia rejestrowanego;2020;[%]
42: maj;stopa bezrobocia rejestrowanego;2021;[%]
43: maj;stopa bezrobocia rejestrowanego;2022;[%]
44: maj;stopa bezrobocia rejestrowanego;2023;[%]
45: maj;stopa bezrobocia rejestrowanego;2024;[%]
46: czerwiec;stopa bezrobocia rejestrowanego;2016;[%]
47: czerwiec;stopa bezrobocia rejestrowanego;2017;[%]
48: czerwiec;stopa bezrobocia rejestrowanego;2018;[%]
49: czerwiec;stopa bezrobocia rejestrowanego;2019;[%]
50: czerwiec;stopa bezrobocia rejestrowanego;2020;[%]
51: czerwiec;stopa bezrobocia rejestrowanego;2021;[%]
52: czerwiec;stopa bezrobocia rejestrowanego;2022;[%]
53: czerwiec;stopa bezrobocia rejestrowanego;2023;[%]
54: czerwiec;stopa bezrobocia rejestrowanego;2024;[%]
55: lipiec;stopa bezrobocia rejestrowanego;2016;[%]
56: lipiec;stopa bezrobocia rejestrowanego;2017;[%]
57: lipiec;stopa bezrobocia rejestrowanego;2018;[%]
58: lipiec;stopa bezrobocia rejestrowanego;2019;[%]
59: lipiec;stopa bezrobocia rejestrowanego;2020;[%]
60: lipiec;stopa bezrobocia rejestrowanego;2021;[%]
61: lipiec;stopa bezrobocia rejestrowanego;2022;[%]
62: lipiec;stopa bezrobocia rejestrowanego;2023;[%]
63: lipiec;stopa bezrobocia rejestrowanego;2024;[%]
64: sierpień;stopa bezrobocia rejestrowanego;2016;[%]
65: sierpień;stopa bezrobocia rejestrowanego;2017;[%]
66: sierpień;stopa bezrobocia rejestrowanego;2018;[%]
67: sierpień;stopa bezrobocia rejestrowanego;2019;[%]
68: sierpień;stopa bezrobocia rejestrowanego;2020;[%]
69: sierpień;stopa bezrobocia rejestrowanego;2021;[%]
70: sierpień;stopa bezrobocia rejestrowanego;2022;[%]
71: sierpień;stopa bezrobocia rejestrowanego;2023;[%]
72: sierpień;stopa bezrobocia rejestrowanego;2024;[%]
73: wrzesień;stopa bezrobocia rejestrowanego;2016;[%]
74: wrzesień;stopa bezrobocia rejestrowanego;2017;[%]
75: wrzesień;stopa bezrobocia rejestrowanego;2018;[%]
76: wrzesień;stopa bezrobocia rejestrowanego;2019;[%]
77: wrzesień;stopa bezrobocia rejestrowanego;2020;[%]
78: wrzesień;stopa bezrobocia rejestrowanego;2021;[%]
79: wrzesień;stopa bezrobocia rejestrowanego;2022;[%]
80: wrzesień;stopa bezrobocia rejestrowanego;2023;[%]
81: wrzesień;stopa bezrobocia rejestrowanego;2024;[%]
82: październik;stopa bezrobocia rejestrowanego;2016;[%]
83: październik;stopa bezrobocia rejestrowanego;2017;[%]
84: październik;stopa bezrobocia rejestrowanego;2018;[%]
85: październik;stopa bezrobocia rejestrowanego;2019;[%]
86: październik;stopa bezrobocia rejestrowanego;2020;[%]
87: październik;stopa bezrobocia rejestrowanego;2021;[%]
88: październik;stopa bezrobocia rejestrowanego;2022;[%]
89: październik;stopa bezrobocia rejestrowanego;2023;[%]
90: październik;stopa bezrobocia rejestrowanego;2024;[%]
91: listopad;stopa bezrobocia rejestrowanego;2016;[%]
92: listopad;stopa bezrobocia rejestrowanego;2017;[%]
93: listopad;stopa bezrobocia rejestrowanego;2018;[%]
94: listopad;stopa bezrobocia rejestrowanego;2019;[%]
95: listopad;stopa bezrobocia rejestrowanego;2020;[%]
96: listopad;stopa bezrobocia rejestrowanego;2021;[%]
97: listopad;stopa bezrobocia rejestrowanego;2022;[%]
98: listopad;stopa bezrobocia rejestrowanego;2023;[%]
99: listopad;stopa bezrobocia rejestrowanego;2024;[%]
100: grudzień;stopa bezrobocia rejestrowanego;2016;[%]
101: grudzień;stopa bezrobocia rejestrowanego;2017;[%]
102: grudzień;stopa bezrobocia rejestrowanego;2018;[%]
103: grudzień;stopa bezrobocia rejestrowanego;2019;[%]
104: grudzień;stopa bezrobocia rejestrowanego;2020;[%]
105: grudzień;stopa bezrobocia rejestrowanego;2021;[%]
106: grudzień;stopa bezrobocia rejestrowanego;2022;[%]
107: grudzień;stopa bezrobocia rejestrowanego;2023;[%]
108: grudzień;stopa bezrobocia rejestrowanego;2024;[%]

In [ ]:
bezrobocie_long = bezrobocie.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Miesiąc',     #Nowa Kolumna
                  value_name='Stopa bezrobocia [%]')  #Kolumna dla wartości
bezrobocie_long

,Nazwa,Miesiąc,Stopa bezrobocia [%]
0,POLSKA,styczeń;stopa bezrobocia rejestrowanego;2016;[%],"10,2"
1,DOLNOŚLĄSKIE,styczeń;stopa bezrobocia rejestrowanego;2016;[%],"8,9"
2,KUJAWSKO-POMORSKIE,styczeń;stopa bezrobocia rejestrowanego;2016;[%],"13,8"
3,LUBELSKIE,styczeń;stopa bezrobocia rejestrowanego;2016;[%],"12,1"
4,LUBUSKIE,styczeń;stopa bezrobocia rejestrowanego;2016;[%],"11,2"
...,...,...,...
1831,ŚLĄSKIE,grudzień;stopa bezrobocia rejestrowanego;2024;[%],"3,6"
1832,ŚWIĘTOKRZYSKIE,grudzień;stopa bezrobocia rejestrowanego;2024;[%],"7,5"
1833,WARMIŃSKO-MAZURSKIE,grudzień;stopa bezrobocia rejestrowanego;2024;[%],"8,3"
1834,WIELKOPOLSKIE,grudzień;stopa bezrobocia rejestrowanego;2024;[%],"3,0"
1835,ZACHODNIOPOMORSKIE,grudzień;stopa bezrobocia rejestrowanego;2024;[%],"6,8"

In [5]:
print(bezrobocie_long['Stopa bezrobocia [%]'].apply(type).value_counts())

Stopa bezrobocia [%]
<class 'str'>    1836
Name: count, dtype: int64

In [6]:
column_parts = bezrobocie_long['Miesiąc'].str.split(';', expand = True)
column_parts

             0                                1     2    3
0      styczeń  stopa bezrobocia rejestrowanego  2016  [%]
1      styczeń  stopa bezrobocia rejestrowanego  2016  [%]
2      styczeń  stopa bezrobocia rejestrowanego  2016  [%]
3      styczeń  stopa bezrobocia rejestrowanego  2016  [%]
4      styczeń  stopa bezrobocia rejestrowanego  2016  [%]
...        ...                              ...   ...  ...
1831  grudzień  stopa bezrobocia rejestrowanego  2024  [%]
1832  grudzień  stopa bezrobocia rejestrowanego  2024  [%]
1833  grudzień  stopa bezrobocia rejestrowanego  2024  [%]
1834  grudzień  stopa bezrobocia rejestrowanego  2024  [%]
1835  grudzień  stopa bezrobocia rejestrowanego  2024  [%]

[1836 rows x 4 columns]

In [7]:
bezrobocie_long['Miesiąc'] = column_parts[0]
bezrobocie_long['Rok'] = column_parts[2]
bezrobocie_long['Województwo'] = bezrobocie_long['Nazwa']

df_bezrobocie = bezrobocie_long[['Województwo', 'Miesiąc', 'Rok', 'Stopa bezrobocia [%]']]

In [8]:
df_bezrobocie = df_bezrobocie.sort_values(['Rok'])
df_bezrobocie = df_bezrobocie.dropna()
df_bezrobocie

              Województwo   Miesiąc   Rok Stopa bezrobocia [%]
0                  POLSKA   styczeń  2016                 10,2
322    ZACHODNIOPOMORSKIE    marzec  2016                 13,1
321         WIELKOPOLSKIE    marzec  2016                  6,2
320   WARMIŃSKO-MAZURSKIE    marzec  2016                 16,4
319        ŚWIĘTOKRZYSKIE    marzec  2016                 12,6
...                   ...       ...   ...                  ...
1061          MAZOWIECKIE    lipiec  2024                  4,1
1060          MAŁOPOLSKIE    lipiec  2024                  4,1
1059              ŁÓDZKIE    lipiec  2024                  5,4
1067       ŚWIĘTOKRZYSKIE    lipiec  2024                  7,4
1835   ZACHODNIOPOMORSKIE  grudzień  2024                  6,8

[1836 rows x 4 columns]

### Obliczanie kwartałów

In [9]:
miesiac_map = {
    "styczeń": "1", "luty": '1', "marzec": '1',
    "kwiecień": '2', "maj": '2', "czerwiec": '2',
    "lipiec": '3', "sierpień": '3', "wrzesień": '3',
    "październik": '4', "listopad": '4', "grudzień": '4'
}

df_bezrobocie["Kwartał"] = df_bezrobocie['Miesiąc'].map(miesiac_map)

In [10]:
df_bezrobocie.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1836 entries, 0 to 1835
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Województwo           1836 non-null   object
 1   Miesiąc               1836 non-null   object
 2   Rok                   1836 non-null   object
 3   Stopa bezrobocia [%]  1836 non-null   object
 4   Kwartał               1836 non-null   object
dtypes: object(5)
memory usage: 86.1+ KB

In [11]:
df_bezrobocie["Kwartał"] = df_bezrobocie["Kwartał"].astype(int)

df_bezrobocie["Stopa bezrobocia [%]"] = df_bezrobocie["Stopa bezrobocia [%]"].str.replace(',','.')
df_bezrobocie["Stopa bezrobocia [%]"] = df_bezrobocie["Stopa bezrobocia [%]"].astype(float)

In [12]:
df_bezrobocie

              Województwo   Miesiąc   Rok  Stopa bezrobocia [%]  Kwartał
0                  POLSKA   styczeń  2016                  10.2        1
322    ZACHODNIOPOMORSKIE    marzec  2016                  13.1        1
321         WIELKOPOLSKIE    marzec  2016                   6.2        1
320   WARMIŃSKO-MAZURSKIE    marzec  2016                  16.4        1
319        ŚWIĘTOKRZYSKIE    marzec  2016                  12.6        1
...                   ...       ...   ...                   ...      ...
1061          MAZOWIECKIE    lipiec  2024                   4.1        3
1060          MAŁOPOLSKIE    lipiec  2024                   4.1        3
1059              ŁÓDZKIE    lipiec  2024                   5.4        3
1067       ŚWIĘTOKRZYSKIE    lipiec  2024                   7.4        3
1835   ZACHODNIOPOMORSKIE  grudzień  2024                   6.8        4

[1836 rows x 5 columns]

In [13]:
df_bezrobocie_kw = (
    df_bezrobocie.groupby(['Województwo','Kwartał','Rok'], as_index=False)['Stopa bezrobocia [%]']
      .mean()
)

In [14]:
df_bezrobocie_kw = df_bezrobocie_kw.sort_values(['Rok','Kwartał'])
df_bezrobocie_kw

            Województwo  Kwartał   Rok  Stopa bezrobocia [%]
0          DOLNOŚLĄSKIE        1  2016              8.900000
36   KUJAWSKO-POMORSKIE        1  2016             13.733333
72            LUBELSKIE        1  2016             12.000000
108            LUBUSKIE        1  2016             10.900000
144         MAZOWIECKIE        1  2016              8.533333
..                  ...      ...   ...                   ...
467       WIELKOPOLSKIE        4  2024              2.933333
503  ZACHODNIOPOMORSKIE        4  2024              6.666667
539             ŁÓDZKIE        4  2024              5.333333
575             ŚLĄSKIE        4  2024              3.533333
611      ŚWIĘTOKRZYSKIE        4  2024              7.400000

[612 rows x 4 columns]

In [15]:
df_bezrobocie_r = (
    df_bezrobocie_kw.groupby(['Województwo','Rok'], as_index=False)['Stopa bezrobocia [%]']
      .mean()
)
df_bezrobocie_r["Kwartał"] = 0
df_bezrobocie_r

        Województwo   Rok  Stopa bezrobocia [%]  Kwartał
0      DOLNOŚLĄSKIE  2016              7.883333        0
1      DOLNOŚLĄSKIE  2017              6.433333        0
2      DOLNOŚLĄSKIE  2018              5.366667        0
3      DOLNOŚLĄSKIE  2019              4.866667        0
4      DOLNOŚLĄSKIE  2020              5.366667        0
..              ...   ...                   ...      ...
148  ŚWIĘTOKRZYSKIE  2020              8.441667        0
149  ŚWIĘTOKRZYSKIE  2021              8.125000        0
150  ŚWIĘTOKRZYSKIE  2022              8.033333        0
151  ŚWIĘTOKRZYSKIE  2023              7.833333        0
152  ŚWIĘTOKRZYSKIE  2024              7.583333        0

[153 rows x 4 columns]

In [16]:
df_bezrobocie_final = pd.concat([df_bezrobocie_kw, df_bezrobocie_r], ignore_index=True)
df_bezrobocie_final

            Województwo  Kwartał   Rok  Stopa bezrobocia [%]
0          DOLNOŚLĄSKIE        1  2016              8.900000
1    KUJAWSKO-POMORSKIE        1  2016             13.733333
2             LUBELSKIE        1  2016             12.000000
3              LUBUSKIE        1  2016             10.900000
4           MAZOWIECKIE        1  2016              8.533333
..                  ...      ...   ...                   ...
760      ŚWIĘTOKRZYSKIE        0  2020              8.441667
761      ŚWIĘTOKRZYSKIE        0  2021              8.125000
762      ŚWIĘTOKRZYSKIE        0  2022              8.033333
763      ŚWIĘTOKRZYSKIE        0  2023              7.833333
764      ŚWIĘTOKRZYSKIE        0  2024              7.583333

[765 rows x 4 columns]

In [17]:
df_bezrobocie_final.isna().sum()

Województwo             0
Kwartał                 0
Rok                     0
Stopa bezrobocia [%]    0
dtype: int64

In [18]:
df_bezrobocie_final.to_csv('stopa_bezrobocia', index=False)