In [4]:
import pandas as pd
ludnosc = pd.read_csv('ludnosc.csv',sep=";", quotechar='"')
ludnosc = ludnosc.drop(columns='Kod')

In [5]:
for i, col in enumerate(ludnosc.columns):
    print(f"{i}: {col}")

0: Nazwa
1: pierwsze półrocze;ogółem;ogółem;2016;[osoba]
2: pierwsze półrocze;ogółem;ogółem;2017;[osoba]
3: pierwsze półrocze;ogółem;ogółem;2018;[osoba]
4: pierwsze półrocze;ogółem;ogółem;2019;[osoba]
5: pierwsze półrocze;ogółem;ogółem;2020;[osoba]
6: pierwsze półrocze;ogółem;ogółem;2021;[osoba]
7: pierwsze półrocze;ogółem;ogółem;2022;[osoba]
8: pierwsze półrocze;ogółem;ogółem;2023;[osoba]
9: pierwsze półrocze;ogółem;ogółem;2024;[osoba]
10: pierwsze półrocze;ogółem;ogółem;2025;[osoba]
11: rok;ogółem;ogółem;2016;[osoba]
12: rok;ogółem;ogółem;2017;[osoba]
13: rok;ogółem;ogółem;2018;[osoba]
14: rok;ogółem;ogółem;2019;[osoba]
15: rok;ogółem;ogółem;2020;[osoba]
16: rok;ogółem;ogółem;2021;[osoba]
17: rok;ogółem;ogółem;2022;[osoba]
18: rok;ogółem;ogółem;2023;[osoba]
19: rok;ogółem;ogółem;2024;[osoba]
20: rok;ogółem;ogółem;2025;[osoba]
21: Unnamed: 22

In [6]:
ludnosc_long = ludnosc.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Okres czasu',     #Nowa Kolumna
                  value_name='Ludność')  #Kolumna dla wartości
ludnosc_long

,Nazwa,Okres czasu,Ludność
0,POLSKA,pierwsze półrocze;ogółem;ogółem;2016;[osoba],38426809.0
1,DOLNOŚLĄSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],2903812.0
2,KUJAWSKO-POMORSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],2084524.0
3,LUBELSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],2135715.0
4,LUBUSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],1017450.0
...,...,...,...
352,ŚLĄSKIE,Unnamed: 22,NaN
353,ŚWIĘTOKRZYSKIE,Unnamed: 22,NaN
354,WARMIŃSKO-MAZURSKIE,Unnamed: 22,NaN
355,WIELKOPOLSKIE,Unnamed: 22,NaN
356,ZACHODNIOPOMORSKIE,Unnamed: 22,NaN

In [7]:
print(ludnosc_long['Ludność'].apply(type).value_counts())

Ludność
<class 'float'>    357
Name: count, dtype: int64

In [8]:
column_parts = ludnosc_long['Okres czasu'].str.split(';', expand=True)
column_parts

                     0       1       2     3        4
0    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
1    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
2    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
3    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
4    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
..                 ...     ...     ...   ...      ...
352        Unnamed: 22    None    None  None     None
353        Unnamed: 22    None    None  None     None
354        Unnamed: 22    None    None  None     None
355        Unnamed: 22    None    None  None     None
356        Unnamed: 22    None    None  None     None

[357 rows x 5 columns]

In [9]:
ludnosc_long['Okres czasu'] = column_parts[0]
ludnosc_long['Rok'] = column_parts[3]
ludnosc_long['Województwo'] = ludnosc_long['Nazwa']

# Final DataFrame
df_ludnosc = ludnosc_long[['Województwo', 'Okres czasu', 'Rok','Ludność']]

# Sorting
df_ludnosc = df_ludnosc.sort_values(['Rok'])

In [10]:
df_ludnosc = df_ludnosc.dropna()

In [11]:
df_ludnosc['Ludność_100tys'] = df_ludnosc['Ludność']/100000
df_ludnosc

             Województwo        Okres czasu   Rok     Ludność  Ludność_100tys
0                 POLSKA  pierwsze półrocze  2016  38426809.0       384.26809
171         DOLNOŚLĄSKIE                rok  2016   2903710.0        29.03710
172   KUJAWSKO-POMORSKIE                rok  2016   2083927.0        20.83927
173            LUBELSKIE                rok  2016   2133340.0        21.33340
186   ZACHODNIOPOMORSKIE                rok  2016   1708174.0        17.08174
..                   ...                ...   ...         ...             ...
163            PODLASKIE  pierwsze półrocze  2025   1129475.0        11.29475
164            POMORSKIE  pierwsze półrocze  2025   2358779.0        23.58779
165              ŚLĄSKIE  pierwsze półrocze  2025   4275429.0        42.75429
166       ŚWIĘTOKRZYSKIE  pierwsze półrocze  2025   1152544.0        11.52544
167  WARMIŃSKO-MAZURSKIE  pierwsze półrocze  2025   1343915.0        13.43915

[323 rows x 5 columns]

In [12]:
df_ludnosc.to_csv('ludnosc', index=False)