# Ludność 2016-2024

In [ ]:
import pandas as pd
ludnosc = pd.read_csv('ludnosc_new.csv',sep=";", quotechar='"')
ludnosc = ludnosc.drop(columns='Kod')

In [106]:
for i, col in enumerate(ludnosc.columns):
    print(f"{i}: {col}")

0: Nazwa
1: pierwsze półrocze;ogółem;ogółem;2016;[osoba]
2: pierwsze półrocze;ogółem;ogółem;2017;[osoba]
3: pierwsze półrocze;ogółem;ogółem;2018;[osoba]
4: pierwsze półrocze;ogółem;ogółem;2019;[osoba]
5: pierwsze półrocze;ogółem;ogółem;2020;[osoba]
6: pierwsze półrocze;ogółem;ogółem;2021;[osoba]
7: pierwsze półrocze;ogółem;ogółem;2022;[osoba]
8: pierwsze półrocze;ogółem;ogółem;2023;[osoba]
9: pierwsze półrocze;ogółem;ogółem;2024;[osoba]
10: pierwsze półrocze;ogółem;ogółem;2025;[osoba]
11: rok;ogółem;ogółem;2016;[osoba]
12: rok;ogółem;ogółem;2017;[osoba]
13: rok;ogółem;ogółem;2018;[osoba]
14: rok;ogółem;ogółem;2019;[osoba]
15: rok;ogółem;ogółem;2020;[osoba]
16: rok;ogółem;ogółem;2021;[osoba]
17: rok;ogółem;ogółem;2022;[osoba]
18: rok;ogółem;ogółem;2023;[osoba]
19: rok;ogółem;ogółem;2024;[osoba]
20: rok;ogółem;ogółem;2025;[osoba]
21: Unnamed: 22

In [107]:
ludnosc_long = ludnosc.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Okres czasu',     #Nowa Kolumna
                  value_name='Ludność')  #Kolumna dla wartości
ludnosc_long

,Nazwa,Okres czasu,Ludność
0,POLSKA,pierwsze półrocze;ogółem;ogółem;2016;[osoba],38426809.0
1,DOLNOŚLĄSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],2903812.0
2,KUJAWSKO-POMORSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],2084524.0
3,LUBELSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],2135715.0
4,LUBUSKIE,pierwsze półrocze;ogółem;ogółem;2016;[osoba],1017450.0
...,...,...,...
352,ŚLĄSKIE,Unnamed: 22,NaN
353,ŚWIĘTOKRZYSKIE,Unnamed: 22,NaN
354,WARMIŃSKO-MAZURSKIE,Unnamed: 22,NaN
355,WIELKOPOLSKIE,Unnamed: 22,NaN
356,ZACHODNIOPOMORSKIE,Unnamed: 22,NaN

In [108]:
print(ludnosc_long['Ludność'].apply(type).value_counts())

Ludność
<class 'float'>    357
Name: count, dtype: int64

In [109]:
column_parts = ludnosc_long['Okres czasu'].str.split(';', expand=True)
column_parts

                     0       1       2     3        4
0    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
1    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
2    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
3    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
4    pierwsze półrocze  ogółem  ogółem  2016  [osoba]
..                 ...     ...     ...   ...      ...
352        Unnamed: 22    None    None  None     None
353        Unnamed: 22    None    None  None     None
354        Unnamed: 22    None    None  None     None
355        Unnamed: 22    None    None  None     None
356        Unnamed: 22    None    None  None     None

[357 rows x 5 columns]

In [110]:
ludnosc_long['Okres czasu'] = column_parts[0]
ludnosc_long['Rok'] = column_parts[3]
ludnosc_long['Województwo'] = ludnosc_long['Nazwa']

# Final DataFrame
df_ludnosc = ludnosc_long[['Województwo', 'Okres czasu', 'Rok','Ludność']]

# Sorting
df_ludnosc = df_ludnosc.sort_values(['Rok'])

In [111]:
df_ludnosc = df_ludnosc.dropna()
df_ludnosc = df_ludnosc[df_ludnosc['Rok'] != '2025']

In [112]:
#df_ludnosc['Ludność_100tys'] = df_ludnosc['Ludność']/100000
#df_ludnosc

In [113]:
mapa_kwartał = {
    'pierwsze półrocze': 1,
    'rok': 2
}

df_ludnosc["Okres czasu"] = df_ludnosc["Okres czasu"].map(mapa_kwartał)
df_ludnosc

            Województwo  Okres czasu   Rok     Ludność
0                POLSKA            1  2016  38426809.0
171        DOLNOŚLĄSKIE            2  2016   2903710.0
172  KUJAWSKO-POMORSKIE            2  2016   2083927.0
173           LUBELSKIE            2  2016   2133340.0
186  ZACHODNIOPOMORSKIE            2  2016   1708174.0
..                  ...          ...   ...         ...
142         MAŁOPOLSKIE            1  2024   3429685.0
321       WIELKOPOLSKIE            2  2024   3479986.0
151       WIELKOPOLSKIE            1  2024   3484177.0
319      ŚWIĘTOKRZYSKIE            2  2024   1157991.0
152  ZACHODNIOPOMORSKIE            1  2024   1626876.0

[306 rows x 4 columns]

In [114]:
df_ludnosc['Rok'] = df_ludnosc['Rok'].astype(int)

# Ludność dane historyczne 2009-2015

In [115]:
ludnosc_hist = pd.read_csv('ludnosc_hist.csv',sep=";", quotechar='"')
ludnosc_hist = ludnosc_hist.drop(columns='Kod')

In [116]:
for i, col in enumerate(ludnosc_hist.columns):
    print(f"{i}: {col}")

0: Nazwa
1: 1 kwartał;ogółem;ogółem;2009;[osoba]
2: 1 kwartał;ogółem;ogółem;2010;[osoba]
3: 1 kwartał;ogółem;ogółem;2011;[osoba]
4: 1 kwartał;ogółem;ogółem;2012;[osoba]
5: 1 kwartał;ogółem;ogółem;2013;[osoba]
6: 1 kwartał;ogółem;ogółem;2014;[osoba]
7: 2 kwartał;ogółem;ogółem;2009;[osoba]
8: 2 kwartał;ogółem;ogółem;2010;[osoba]
9: 2 kwartał;ogółem;ogółem;2011;[osoba]
10: 2 kwartał;ogółem;ogółem;2012;[osoba]
11: 2 kwartał;ogółem;ogółem;2013;[osoba]
12: 2 kwartał;ogółem;ogółem;2014;[osoba]
13: pierwsze półrocze;ogółem;ogółem;2009;[osoba]
14: pierwsze półrocze;ogółem;ogółem;2010;[osoba]
15: pierwsze półrocze;ogółem;ogółem;2011;[osoba]
16: pierwsze półrocze;ogółem;ogółem;2012;[osoba]
17: pierwsze półrocze;ogółem;ogółem;2013;[osoba]
18: pierwsze półrocze;ogółem;ogółem;2014;[osoba]
19: 3 kwartał;ogółem;ogółem;2009;[osoba]
20: 3 kwartał;ogółem;ogółem;2010;[osoba]
21: 3 kwartał;ogółem;ogółem;2011;[osoba]
22: 3 kwartał;ogółem;ogółem;2012;[osoba]
23: 3 kwartał;ogółem;ogółem;2013;[osoba]
24: 3 kwartał;ogółem;ogółem;2014;[osoba]
25: 1-3 kwartały;ogółem;ogółem;2009;[osoba]
26: 1-3 kwartały;ogółem;ogółem;2010;[osoba]
27: 1-3 kwartały;ogółem;ogółem;2011;[osoba]
28: 1-3 kwartały;ogółem;ogółem;2012;[osoba]
29: 1-3 kwartały;ogółem;ogółem;2013;[osoba]
30: 1-3 kwartały;ogółem;ogółem;2014;[osoba]
31: 4 kwartał;ogółem;ogółem;2009;[osoba]
32: 4 kwartał;ogółem;ogółem;2010;[osoba]
33: 4 kwartał;ogółem;ogółem;2011;[osoba]
34: 4 kwartał;ogółem;ogółem;2012;[osoba]
35: 4 kwartał;ogółem;ogółem;2013;[osoba]
36: 4 kwartał;ogółem;ogółem;2014;[osoba]
37: rok;ogółem;ogółem;2009;[osoba]
38: rok;ogółem;ogółem;2010;[osoba]
39: rok;ogółem;ogółem;2011;[osoba]
40: rok;ogółem;ogółem;2012;[osoba]
41: rok;ogółem;ogółem;2013;[osoba]
42: rok;ogółem;ogółem;2014;[osoba]
43: Unnamed: 44

In [117]:
ludnosc_hist_long = ludnosc_hist.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Okres czasu',     #Nowa Kolumna
                  value_name='Ludność')  #Kolumna dla wartości
ludnosc_hist_long

                   Nazwa                           Okres czasu     Ludność
0                 POLSKA  1 kwartał;ogółem;ogółem;2009;[osoba]  38139474.0
1           DOLNOŚLĄSKIE  1 kwartał;ogółem;ogółem;2009;[osoba]   2876604.0
2     KUJAWSKO-POMORSKIE  1 kwartał;ogółem;ogółem;2009;[osoba]   2068196.0
3              LUBELSKIE  1 kwartał;ogółem;ogółem;2009;[osoba]   2160447.0
4               LUBUSKIE  1 kwartał;ogółem;ogółem;2009;[osoba]   1009218.0
..                   ...                                   ...         ...
726              ŚLĄSKIE                           Unnamed: 44         NaN
727       ŚWIĘTOKRZYSKIE                           Unnamed: 44         NaN
728  WARMIŃSKO-MAZURSKIE                           Unnamed: 44         NaN
729        WIELKOPOLSKIE                           Unnamed: 44         NaN
730   ZACHODNIOPOMORSKIE                           Unnamed: 44         NaN

[731 rows x 3 columns]

In [118]:
print(ludnosc_hist_long['Ludność'].apply(type).value_counts())

Ludność
<class 'float'>    731
Name: count, dtype: int64

In [119]:
column_parts = ludnosc_hist_long['Okres czasu'].str.split(';', expand=True)
column_parts

               0       1       2     3        4
0      1 kwartał  ogółem  ogółem  2009  [osoba]
1      1 kwartał  ogółem  ogółem  2009  [osoba]
2      1 kwartał  ogółem  ogółem  2009  [osoba]
3      1 kwartał  ogółem  ogółem  2009  [osoba]
4      1 kwartał  ogółem  ogółem  2009  [osoba]
..           ...     ...     ...   ...      ...
726  Unnamed: 44    None    None  None     None
727  Unnamed: 44    None    None  None     None
728  Unnamed: 44    None    None  None     None
729  Unnamed: 44    None    None  None     None
730  Unnamed: 44    None    None  None     None

[731 rows x 5 columns]

In [120]:
ludnosc_hist_long['Okres czasu'] = column_parts[0]
ludnosc_hist_long['Rok'] = column_parts[3]
ludnosc_hist_long['Województwo'] = ludnosc_hist_long['Nazwa']

# Final DataFrame
df_ludnosc_hist = ludnosc_hist_long[['Województwo', 'Okres czasu', 'Rok','Ludność']]

# Sorting
df_ludnosc_hist = df_ludnosc_hist.sort_values(['Rok'])

df_ludnosc_hist['Okres czasu'].unique()

array(['1 kwartał', '4 kwartał', 'pierwsze półrocze', '2 kwartał',
       '3 kwartał', '1-3 kwartały', 'rok', 'Unnamed: 44'], dtype=object)

In [121]:
df_ludnosc_hist.isna().sum()

Województwo     0
Okres czasu     0
Rok            17
Ludność        17
dtype: int64

In [122]:
df_ludnosc_hist = df_ludnosc_hist.dropna()

In [123]:
df_ludnosc_hist = df_ludnosc_hist[~df_ludnosc_hist['Okres czasu'].str.contains("pierwsze półrocze|1-3 kwartały|rok",case=False, na=False)]
df_ludnosc_hist['Okres czasu'].unique()

array(['1 kwartał', '4 kwartał', '2 kwartał', '3 kwartał'], dtype=object)

In [124]:
mapa_kwartał = {
    "1 kwartał": 1,
    "2 kwartał": 2,
    "3 kwartał": 3,
    "4 kwartał": 4
}

df_ludnosc_hist["Okres czasu"] = df_ludnosc_hist["Okres czasu"].map(mapa_kwartał)
df_ludnosc_hist.info()

<class 'pandas.core.frame.DataFrame'>
Index: 408 entries, 0 to 96
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Województwo  408 non-null    object
 1   Okres czasu  408 non-null    int64
 2   Rok          408 non-null    object
 3   Ludność      408 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 15.9+ KB

In [125]:
df_ludnosc_hist["Rok"] = df_ludnosc_hist["Rok"].astype(int)
df_ludnosc_hist

             Województwo  Okres czasu   Rok     Ludność
0                 POLSKA            1  2009  38139474.0
520            PODLASKIE            4  2009   1189731.0
519         PODKARPACKIE            4  2009   2101732.0
518             OPOLSKIE            4  2009   1031097.0
517          MAZOWIECKIE            4  2009   5222167.0
..                   ...          ...   ...         ...
100        WIELKOPOLSKIE            1  2014   3467898.0
99   WARMIŃSKO-MAZURSKIE            1  2014   1445977.0
98        ŚWIĘTOKRZYSKIE            1  2014   1266698.0
97               ŚLĄSKIE            1  2014   4595925.0
96             POMORSKIE            1  2014   2296944.0

[408 rows x 4 columns]

# Agregacja danych

In [150]:
df_ludnosc[df_ludnosc['Województwo']=='PODLASKIE']

    Województwo  Okres czasu   Rok    Ludność
180   PODLASKIE            2  2016  1186625.0
10    PODLASKIE            1  2016  1187587.0
197   PODLASKIE            2  2017  1184548.0
27    PODLASKIE            1  2017  1185174.0
214   PODLASKIE            2  2018  1181533.0
44    PODLASKIE            1  2018  1182677.0
231   PODLASKIE            2  2019  1178353.0
61    PODLASKIE            1  2019  1179430.0
78    PODLASKIE            1  2020  1159881.0
248   PODLASKIE            2  2020  1156591.0
265   PODLASKIE            2  2021  1148720.0
95    PODLASKIE            1  2021  1152892.0
282   PODLASKIE            2  2022  1143355.0
112   PODLASKIE            1  2022  1145841.0
129   PODLASKIE            1  2023  1140681.0
299   PODLASKIE            2  2023  1138216.0
316   PODLASKIE            2  2024  1132641.0
146   PODLASKIE            1  2024  1135201.0

In [ ]:
hist = df_ludnosc_hist[df_ludnosc_hist['Województwo'] != 'POLSKA']
new = df_ludnosc[df_ludnosc['Województwo'] != "POLSKA"]

results = {}
seasonal = hist.groupby(['Województwo', "Okres czasu"])["Ludność"].mean()

for woj in hist['Województwo'].unique():
    df = new[new['Województwo']==woj].set_index(['Rok', 'Okres czasu'])['Ludność'].unstack()
    
    q_means = seasonal.loc[woj].values
    q4 = q_means[-1]             
    a = q_means / q4 
    
    quarterly_list = []
    years = df.index
    for yr in years:
        h1 = df.loc[yr,1]
        h2 = df.loc[yr,2]
        q1 = h2 * a[0]        
        q2 = h1
        q3 = h2 * a[2]
        q4 = h2
        quarterly_list.extend([q1, q2, q3, q4])
    
    # indeks kwartalny
    idx = pd.period_range(start=str(years[0])+'Q1', periods=len(quarterly_list), freq='Q')
    results[woj] = pd.Series(quarterly_list, index=idx)

# łączymy wszystkie województwa
quarterly_df = pd.concat(results, names=['Województwo','Period'])
quarterly_df = quarterly_df.rename("Ludność").reset_index()
quarterly_df['Rok'] = quarterly_df['Period'].dt.year
quarterly_df['Kwartał'] = quarterly_df['Period'].dt.quarter
quarterly_df['Ludność'] = quarterly_df['Ludność'].astype(int)


#adding poland as sum of regions
poland = quarterly_df.groupby('Period')['Ludność'].sum().reset_index()
poland['Województwo'] = 'POLSKA'
poland['Rok'] = poland['Period'].dt.year
poland['Kwartał'] = poland['Period'].dt.quarter


ludnosc_df = pd.concat([quarterly_df, poland], ignore_index=True)
annual = ludnosc_df[ludnosc_df['Kwartał']==4].copy()
annual['Kwartał'] = 0
ludnosc_df = pd.concat([ludnosc_df, annual], ignore_index=True)

cols = ['Województwo', 'Kwartał', 'Rok', 'Ludność']
ludnosc_df = ludnosc_df[cols]

ludnosc_df['Ludność_100tys'] = ludnosc_df['Ludność']/100000
ludnosc_df.to_csv('ludnosc.csv', index=False)
ludnosc_df

    Województwo  Kwartał   Rok   Ludność  Ludność_100tys
0     PODLASKIE        1  2016   1188170        11.88170
1     PODLASKIE        2  2016   1187587        11.87587
2     PODLASKIE        3  2016   1187403        11.87403
3     PODLASKIE        4  2016   1186625        11.86625
4     PODLASKIE        1  2017   1186090        11.86090
..          ...      ...   ...       ...             ...
760      POLSKA        0  2020  38088564       380.88564
761      POLSKA        0  2021  37907704       379.07704
762      POLSKA        0  2022  37766327       377.66327
763      POLSKA        0  2023  37636508       376.36508
764      POLSKA        0  2024  37489087       374.89087

[765 rows x 5 columns]