# Migracje 2016-2024

In [1]:
import pandas as pd
migracje = pd.read_csv('migracje_GUS.csv',sep=";", quotechar='"')
migracje = migracje.drop(columns='Kod')

for i, col in enumerate(migracje.columns):
    print(f"{i}: {col}")

0: Nazwa
1: pierwsze półrocze;saldo migracji wewnętrznych;2016;[osoba]
2: pierwsze półrocze;saldo migracji wewnętrznych;2017;[osoba]
3: pierwsze półrocze;saldo migracji wewnętrznych;2018;[osoba]
4: pierwsze półrocze;saldo migracji wewnętrznych;2019;[osoba]
5: pierwsze półrocze;saldo migracji wewnętrznych;2020;[osoba]
6: pierwsze półrocze;saldo migracji wewnętrznych;2021;[osoba]
7: pierwsze półrocze;saldo migracji wewnętrznych;2022;[osoba]
8: pierwsze półrocze;saldo migracji wewnętrznych;2023;[osoba]
9: pierwsze półrocze;saldo migracji wewnętrznych;2024;[osoba]
10: pierwsze półrocze;saldo migracji zagranicznych;2016;[osoba]
11: pierwsze półrocze;saldo migracji zagranicznych;2017;[osoba]
12: pierwsze półrocze;saldo migracji zagranicznych;2018;[osoba]
13: pierwsze półrocze;saldo migracji zagranicznych;2019;[osoba]
14: pierwsze półrocze;saldo migracji zagranicznych;2020;[osoba]
15: pierwsze półrocze;saldo migracji zagranicznych;2021;[osoba]
16: pierwsze półrocze;saldo migracji zagranicznych;2022;[osoba]
17: pierwsze półrocze;saldo migracji zagranicznych;2023;[osoba]
18: pierwsze półrocze;saldo migracji zagranicznych;2024;[osoba]
19: rok;saldo migracji wewnętrznych;2016;[osoba]
20: rok;saldo migracji wewnętrznych;2017;[osoba]
21: rok;saldo migracji wewnętrznych;2018;[osoba]
22: rok;saldo migracji wewnętrznych;2019;[osoba]
23: rok;saldo migracji wewnętrznych;2020;[osoba]
24: rok;saldo migracji wewnętrznych;2021;[osoba]
25: rok;saldo migracji wewnętrznych;2022;[osoba]
26: rok;saldo migracji wewnętrznych;2023;[osoba]
27: rok;saldo migracji wewnętrznych;2024;[osoba]
28: rok;saldo migracji zagranicznych;2016;[osoba]
29: rok;saldo migracji zagranicznych;2017;[osoba]
30: rok;saldo migracji zagranicznych;2018;[osoba]
31: rok;saldo migracji zagranicznych;2019;[osoba]
32: rok;saldo migracji zagranicznych;2020;[osoba]
33: rok;saldo migracji zagranicznych;2021;[osoba]
34: rok;saldo migracji zagranicznych;2022;[osoba]
35: rok;saldo migracji zagranicznych;2023;[osoba]
36: rok;saldo migracji zagranicznych;2024;[osoba]
37: Unnamed: 38

In [2]:
migracje_long = migracje.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Okres czasu',     #Nowa Kolumna
                  value_name='Saldo migracji')  #Kolumna dla wartości
migracje_long

,Nazwa,Okres czasu,Saldo migracji
0,POLSKA,pierwsze półrocze;saldo migracji wewnętrznych;...,0.0
1,DOLNOŚLĄSKIE,pierwsze półrocze;saldo migracji wewnętrznych;...,1412.0
2,KUJAWSKO-POMORSKIE,pierwsze półrocze;saldo migracji wewnętrznych;...,-869.0
3,LUBELSKIE,pierwsze półrocze;saldo migracji wewnętrznych;...,-2222.0
4,LUBUSKIE,pierwsze półrocze;saldo migracji wewnętrznych;...,-329.0
...,...,...,...
624,ŚLĄSKIE,Unnamed: 38,NaN
625,ŚWIĘTOKRZYSKIE,Unnamed: 38,NaN
626,WARMIŃSKO-MAZURSKIE,Unnamed: 38,NaN
627,WIELKOPOLSKIE,Unnamed: 38,NaN
628,ZACHODNIOPOMORSKIE,Unnamed: 38,NaN

In [3]:
print(migracje_long['Saldo migracji'].apply(type).value_counts())

Saldo migracji
<class 'float'>    629
Name: count, dtype: int64

In [4]:
column_parts = migracje_long['Okres czasu'].str.split(';', expand=True)
column_parts

                     0                            1     2        3
0    pierwsze półrocze  saldo migracji wewnętrznych  2016  [osoba]
1    pierwsze półrocze  saldo migracji wewnętrznych  2016  [osoba]
2    pierwsze półrocze  saldo migracji wewnętrznych  2016  [osoba]
3    pierwsze półrocze  saldo migracji wewnętrznych  2016  [osoba]
4    pierwsze półrocze  saldo migracji wewnętrznych  2016  [osoba]
..                 ...                          ...   ...      ...
624        Unnamed: 38                         None  None     None
625        Unnamed: 38                         None  None     None
626        Unnamed: 38                         None  None     None
627        Unnamed: 38                         None  None     None
628        Unnamed: 38                         None  None     None

[629 rows x 4 columns]

In [5]:
migracje_long['Okres czasu'] = column_parts[0]
migracje_long['Rok'] = column_parts[2]
migracje_long['Województwo'] = migracje_long['Nazwa']
migracje_long['Rodzaj migracji'] = column_parts[1]

# Final DataFrame
df_migracje = migracje_long[['Województwo', 'Okres czasu', 'Rok','Rodzaj migracji','Saldo migracji']]

# Sorting
df_migracje = df_migracje.sort_values(['Rok'])

In [6]:
df_migracje.isna().sum()

Województwo         0
Okres czasu         0
Rok                17
Rodzaj migracji    17
Saldo migracji     17
dtype: int64

In [7]:
df_migracje = df_migracje.dropna()
df_migracje

,Województwo,Okres czasu,Rok,Rodzaj migracji,Saldo migracji
0,POLSKA,pierwsze półrocze,2016,saldo migracji wewnętrznych,0.0
470,POMORSKIE,rok,2016,saldo migracji zagranicznych,47.0
469,PODLASKIE,rok,2016,saldo migracji zagranicznych,278.0
468,PODKARPACKIE,rok,2016,saldo migracji zagranicznych,408.0
467,OPOLSKIE,rok,2016,saldo migracji zagranicznych,-644.0
...,...,...,...,...,...
300,POMORSKIE,pierwsze półrocze,2024,saldo migracji zagranicznych,251.0
299,PODLASKIE,pierwsze półrocze,2024,saldo migracji zagranicznych,295.0
298,PODKARPACKIE,pierwsze półrocze,2024,saldo migracji zagranicznych,90.0
458,ZACHODNIOPOMORSKIE,rok,2024,saldo migracji wewnętrznych,-596.0
611,ZACHODNIOPOMORSKIE,rok,2024,saldo migracji zagranicznych,457.0

In [8]:
mapa_kwartał = {
    "pierwsze półrocze": 1,
    "rok": 2
}

df_migracje["Okres czasu"] = df_migracje["Okres czasu"].map(mapa_kwartał)
df_migracje["Okres czasu"] = df_migracje["Okres czasu"].astype(int)
df_migracje["Rok"] = df_migracje["Rok"].astype(int)

# Migracje 2010-2014 (historyczne)

In [9]:
import pandas as pd
stare_mig = pd.read_csv('migracje_his_GUS.csv',sep=";", quotechar='"')
stare_mig = stare_mig.drop(columns='Kod')

for i, col in enumerate(migracje.columns):
    print(f"{i}: {col}")

0: Nazwa
1: pierwsze półrocze;saldo migracji wewnętrznych;2016;[osoba]
2: pierwsze półrocze;saldo migracji wewnętrznych;2017;[osoba]
3: pierwsze półrocze;saldo migracji wewnętrznych;2018;[osoba]
4: pierwsze półrocze;saldo migracji wewnętrznych;2019;[osoba]
5: pierwsze półrocze;saldo migracji wewnętrznych;2020;[osoba]
6: pierwsze półrocze;saldo migracji wewnętrznych;2021;[osoba]
7: pierwsze półrocze;saldo migracji wewnętrznych;2022;[osoba]
8: pierwsze półrocze;saldo migracji wewnętrznych;2023;[osoba]
9: pierwsze półrocze;saldo migracji wewnętrznych;2024;[osoba]
10: pierwsze półrocze;saldo migracji zagranicznych;2016;[osoba]
11: pierwsze półrocze;saldo migracji zagranicznych;2017;[osoba]
12: pierwsze półrocze;saldo migracji zagranicznych;2018;[osoba]
13: pierwsze półrocze;saldo migracji zagranicznych;2019;[osoba]
14: pierwsze półrocze;saldo migracji zagranicznych;2020;[osoba]
15: pierwsze półrocze;saldo migracji zagranicznych;2021;[osoba]
16: pierwsze półrocze;saldo migracji zagranicznych;2022;[osoba]
17: pierwsze półrocze;saldo migracji zagranicznych;2023;[osoba]
18: pierwsze półrocze;saldo migracji zagranicznych;2024;[osoba]
19: rok;saldo migracji wewnętrznych;2016;[osoba]
20: rok;saldo migracji wewnętrznych;2017;[osoba]
21: rok;saldo migracji wewnętrznych;2018;[osoba]
22: rok;saldo migracji wewnętrznych;2019;[osoba]
23: rok;saldo migracji wewnętrznych;2020;[osoba]
24: rok;saldo migracji wewnętrznych;2021;[osoba]
25: rok;saldo migracji wewnętrznych;2022;[osoba]
26: rok;saldo migracji wewnętrznych;2023;[osoba]
27: rok;saldo migracji wewnętrznych;2024;[osoba]
28: rok;saldo migracji zagranicznych;2016;[osoba]
29: rok;saldo migracji zagranicznych;2017;[osoba]
30: rok;saldo migracji zagranicznych;2018;[osoba]
31: rok;saldo migracji zagranicznych;2019;[osoba]
32: rok;saldo migracji zagranicznych;2020;[osoba]
33: rok;saldo migracji zagranicznych;2021;[osoba]
34: rok;saldo migracji zagranicznych;2022;[osoba]
35: rok;saldo migracji zagranicznych;2023;[osoba]
36: rok;saldo migracji zagranicznych;2024;[osoba]
37: Unnamed: 38

In [10]:
stare_mig_long = stare_mig.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Okres czasu',     #Nowa Kolumna
                  value_name='Saldo migracji')  #Kolumna dla wartości
stare_mig_long

,Nazwa,Okres czasu,Saldo migracji
0,POLSKA,1 kwartał;saldo migracji wewnętrznych;2010;[os...,0.0
1,DOLNOŚLĄSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,294.0
2,KUJAWSKO-POMORSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,-328.0
3,LUBELSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,-1154.0
4,LUBUSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,4.0
...,...,...,...
1202,ŚLĄSKIE,Unnamed: 72,NaN
1203,ŚWIĘTOKRZYSKIE,Unnamed: 72,NaN
1204,WARMIŃSKO-MAZURSKIE,Unnamed: 72,NaN
1205,WIELKOPOLSKIE,Unnamed: 72,NaN
1206,ZACHODNIOPOMORSKIE,Unnamed: 72,NaN

In [11]:
stare_mig_long = stare_mig_long.dropna()
stare_mig_long

,Nazwa,Okres czasu,Saldo migracji
0,POLSKA,1 kwartał;saldo migracji wewnętrznych;2010;[os...,0.0
1,DOLNOŚLĄSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,294.0
2,KUJAWSKO-POMORSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,-328.0
3,LUBELSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,-1154.0
4,LUBUSKIE,1 kwartał;saldo migracji wewnętrznych;2010;[os...,4.0
...,...,...,...
1185,ŚLĄSKIE,rok;saldo migracji zagranicznych;2014;[osoba],-3531.0
1186,ŚWIĘTOKRZYSKIE,rok;saldo migracji zagranicznych;2014;[osoba],-106.0
1187,WARMIŃSKO-MAZURSKIE,rok;saldo migracji zagranicznych;2014;[osoba],-782.0
1188,WIELKOPOLSKIE,rok;saldo migracji zagranicznych;2014;[osoba],-1308.0
1189,ZACHODNIOPOMORSKIE,rok;saldo migracji zagranicznych;2014;[osoba],-1452.0

In [12]:
print(stare_mig_long['Saldo migracji'].apply(type).value_counts())

Saldo migracji
<class 'float'>    1190
Name: count, dtype: int64

In [13]:
column_parts = stare_mig_long['Okres czasu'].str.split(';', expand=True)
column_parts

              0                             1     2        3
0     1 kwartał   saldo migracji wewnętrznych  2010  [osoba]
1     1 kwartał   saldo migracji wewnętrznych  2010  [osoba]
2     1 kwartał   saldo migracji wewnętrznych  2010  [osoba]
3     1 kwartał   saldo migracji wewnętrznych  2010  [osoba]
4     1 kwartał   saldo migracji wewnętrznych  2010  [osoba]
...         ...                           ...   ...      ...
1185        rok  saldo migracji zagranicznych  2014  [osoba]
1186        rok  saldo migracji zagranicznych  2014  [osoba]
1187        rok  saldo migracji zagranicznych  2014  [osoba]
1188        rok  saldo migracji zagranicznych  2014  [osoba]
1189        rok  saldo migracji zagranicznych  2014  [osoba]

[1190 rows x 4 columns]

In [14]:
column_parts.isna().sum()

0    0
1    0
2    0
3    0
dtype: int64

In [15]:
stare_mig_long['Okres czasu'] = column_parts[0]
stare_mig_long['Rok'] = column_parts[2]
stare_mig_long['Województwo'] = stare_mig_long['Nazwa']
stare_mig_long['Rodzaj migracji'] = column_parts[1]

# Final DataFrame
stare_mig = stare_mig_long[['Województwo', 'Okres czasu', 'Rok','Rodzaj migracji','Saldo migracji']]

C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\232948532.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stare_mig_long['Okres czasu'] = column_parts[0]
C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\232948532.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stare_mig_long['Rok'] = column_parts[2]
C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\232948532.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stare_mig_long['Województwo'] = stare_mig_long['Nazwa']
C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\232948532.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  stare_mig_long['Rodzaj migracji'] = column_parts[1]

In [16]:
stare_mig['Okres czasu'].unique()

array(['1 kwartał', '2 kwartał', 'pierwsze półrocze', '3 kwartał',
       '1-3 kwartały', '4 kwartał', 'rok'], dtype=object)

In [17]:
stare_mig = stare_mig[ ~stare_mig['Okres czasu'].str.contains("pierwsze półrocze|1-3 kwartały|rok",case=False, na=False)]
stare_mig['Okres czasu'].unique()

array(['1 kwartał', '2 kwartał', '3 kwartał', '4 kwartał'], dtype=object)

In [18]:
mapa_kwartał = {
    "1 kwartał": 1,
    "2 kwartał": 2,
    "3 kwartał": 3,
    "4 kwartał": 4
}

stare_mig["Okres czasu"] = stare_mig["Okres czasu"].map(mapa_kwartał)

In [19]:
stare_mig["Okres czasu"] = stare_mig["Okres czasu"].astype(int)
stare_mig["Rok"] = stare_mig["Rok"].astype(int)

# Agregacja

In [ ]:
from statsmodels.tsa.interp.denton import dentonm

for typ in df_migracje['Rodzaj migracji'].unique():
    hist = stare_mig[stare_mig["Rodzaj migracji"]==typ]
    new = df_migracje[(df_migracje['Rodzaj migracji'] == typ)&(df_migracje['Okres czasu']==2)]
    results = {}
    
    #we calculate seasonal indicators:
    seasonal = (
    hist
    .groupby(['Województwo',"Okres czasu"])["Saldo migracji"]
    .mean()
    )

    seasonal = seasonal / seasonal.groupby('Województwo').sum()
    
    for woj in hist['Województwo'].unique():
        # annual values for each region with year as index
        annual = new[new['Województwo'] == woj]['Saldo migracji']
        annual.index = pd.period_range(start=str(2016), periods=len(annual), freq='A')

        # qutarelry indicators for region
        shares = seasonal.loc[woj].values

        # quarterly indicators in list - for each year we have the same quarterly indicators
        indicator = shares.tolist() * len(annual)

        # denton
        y_high = dentonm(
            benchmark=annual.values,
            indicator=indicator,
            h=4,
            conversion='sum',
            method='ratio',
            additive=False
        )

        # quarterly index
        quarterly_index = pd.period_range(start=str(annual.index[0].year)+'Q1', periods=len(y_high), freq='Q')
        quarterly_series = pd.Series(y_high, index=quarterly_index)
        results[woj] = quarterly_series
    
    quarterly = pd.concat(results, names=['Województwo', 'Period'])
    quarterly = quarterly.rename("Saldo migracji").reset_index()


    quarterly = quarterly.fillna(0)
    quarterly['Saldo migracji'] = quarterly['Saldo migracji'].astype(int)
    quarterly['Rok'] = quarterly['Period'].dt.year   
    quarterly['Kwartał'] = quarterly['Period'].dt.quarter
    
    
    annual_df = new[['Województwo', 'Rok', 'Saldo migracji']]
    annual_df['Kwartał'] = 0
    
    migracje_df = pd.concat(
    [
        quarterly[['Województwo','Rok','Kwartał','Saldo migracji']],
        annual_df[['Województwo','Rok','Kwartał','Saldo migracji']]
    ],
    ignore_index=True
)
    
    migracje_df[f"{typ}"] = migracje_df['Saldo migracji']
    migracje_df = migracje_df.drop(columns='Saldo migracji')
    
    
    migracje_df.to_csv(f'{typ}.csv', index=False)

C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\1145093998.py:20: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'Y' instead.
  annual.index = pd.period_range(start=str(2016), periods=len(annual), freq='A')
C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\1145093998.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  annual_df['Kwartał'] = 0
C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\1145093998.py:20: FutureWarning: 'A' is deprecated and will be removed in a future version, please use 'Y' instead.
  annual.index = pd.period_range(start=str(2016), periods=len(annual), freq='A')
C:\Users\Wiola\AppData\Local\Temp\ipykernel_23188\1145093998.py:54: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  annual_df['Kwartał'] = 0