In [19]:
import pandas as pd
rozwody = pd.read_csv('rozwody.csv',sep=";", quotechar='"')
rozwody = rozwody.drop(columns='Kod')

for i, col in enumerate(rozwody.columns):
    print(f"{i}: {col}")

0: Nazwa
1: 1 kwartał;ogółem;2016;[-]
2: 1 kwartał;ogółem;2017;[-]
3: 1 kwartał;ogółem;2018;[-]
4: 1 kwartał;ogółem;2019;[-]
5: 1 kwartał;ogółem;2020;[-]
6: 1 kwartał;ogółem;2021;[-]
7: 1 kwartał;ogółem;2022;[-]
8: 1 kwartał;ogółem;2023;[-]
9: 1 kwartał;ogółem;2024;[-]
10: 2 kwartał;ogółem;2016;[-]
11: 2 kwartał;ogółem;2017;[-]
12: 2 kwartał;ogółem;2018;[-]
13: 2 kwartał;ogółem;2019;[-]
14: 2 kwartał;ogółem;2020;[-]
15: 2 kwartał;ogółem;2021;[-]
16: 2 kwartał;ogółem;2022;[-]
17: 2 kwartał;ogółem;2023;[-]
18: 2 kwartał;ogółem;2024;[-]
19: pierwsze półrocze;ogółem;2016;[-]
20: pierwsze półrocze;ogółem;2017;[-]
21: pierwsze półrocze;ogółem;2018;[-]
22: pierwsze półrocze;ogółem;2019;[-]
23: pierwsze półrocze;ogółem;2020;[-]
24: pierwsze półrocze;ogółem;2021;[-]
25: pierwsze półrocze;ogółem;2022;[-]
26: pierwsze półrocze;ogółem;2023;[-]
27: pierwsze półrocze;ogółem;2024;[-]
28: 3 kwartał;ogółem;2016;[-]
29: 3 kwartał;ogółem;2017;[-]
30: 3 kwartał;ogółem;2018;[-]
31: 3 kwartał;ogółem;2019;[-]
32: 3 kwartał;ogółem;2020;[-]
33: 3 kwartał;ogółem;2021;[-]
34: 3 kwartał;ogółem;2022;[-]
35: 3 kwartał;ogółem;2023;[-]
36: 3 kwartał;ogółem;2024;[-]
37: 4 kwartał;ogółem;2016;[-]
38: 4 kwartał;ogółem;2017;[-]
39: 4 kwartał;ogółem;2018;[-]
40: 4 kwartał;ogółem;2019;[-]
41: 4 kwartał;ogółem;2020;[-]
42: 4 kwartał;ogółem;2021;[-]
43: 4 kwartał;ogółem;2022;[-]
44: 4 kwartał;ogółem;2023;[-]
45: 4 kwartał;ogółem;2024;[-]
46: rok;ogółem;2016;[-]
47: rok;ogółem;2017;[-]
48: rok;ogółem;2018;[-]
49: rok;ogółem;2019;[-]
50: rok;ogółem;2020;[-]
51: rok;ogółem;2021;[-]
52: rok;ogółem;2022;[-]
53: rok;ogółem;2023;[-]
54: rok;ogółem;2024;[-]
55: Unnamed: 56

In [20]:
rozwody_long = rozwody.melt(id_vars=['Nazwa'],    #zostawiamy
                  var_name='Kwartał',     #Nowa Kolumna
                  value_name='Rozwody')  #Kolumna dla wartości
rozwody_long

                   Nazwa                    Kwartał  Rozwody
0                 POLSKA  1 kwartał;ogółem;2016;[-]  15239.0
1           DOLNOŚLĄSKIE  1 kwartał;ogółem;2016;[-]   1190.0
2     KUJAWSKO-POMORSKIE  1 kwartał;ogółem;2016;[-]    901.0
3              LUBELSKIE  1 kwartał;ogółem;2016;[-]    800.0
4               LUBUSKIE  1 kwartał;ogółem;2016;[-]    453.0
..                   ...                        ...      ...
930              ŚLĄSKIE                Unnamed: 56      NaN
931       ŚWIĘTOKRZYSKIE                Unnamed: 56      NaN
932  WARMIŃSKO-MAZURSKIE                Unnamed: 56      NaN
933        WIELKOPOLSKIE                Unnamed: 56      NaN
934   ZACHODNIOPOMORSKIE                Unnamed: 56      NaN

[935 rows x 3 columns]

In [21]:
column_parts = rozwody_long['Kwartał'].str.split(';', expand=True)
column_parts

               0       1     2     3
0      1 kwartał  ogółem  2016   [-]
1      1 kwartał  ogółem  2016   [-]
2      1 kwartał  ogółem  2016   [-]
3      1 kwartał  ogółem  2016   [-]
4      1 kwartał  ogółem  2016   [-]
..           ...     ...   ...   ...
930  Unnamed: 56    None  None  None
931  Unnamed: 56    None  None  None
932  Unnamed: 56    None  None  None
933  Unnamed: 56    None  None  None
934  Unnamed: 56    None  None  None

[935 rows x 4 columns]

In [22]:
rozwody_long['Kwartał'] = column_parts[0]
rozwody_long['Rok'] = column_parts[2]
rozwody_long['Województwo'] = rozwody_long['Nazwa']

# Final DataFrame
df_rozwody = rozwody_long[['Województwo', 'Kwartał', 'Rok','Rozwody']]

# Sorting
df_rozwody = df_rozwody.sort_values(['Rok'])

In [23]:
df_rozwody = df_rozwody[ ~df_rozwody['Kwartał'].str.contains("pierwsze półrocze", case=False, na=False)]
df_rozwody['Kwartał'].unique()

array(['1 kwartał', 'rok', '4 kwartał', '2 kwartał', '3 kwartał',
       'Unnamed: 56'], dtype=object)

In [25]:
mapa_kwartał = {
    "1 kwartał": 1,
    "2 kwartał": 2,
    "3 kwartał": 3,
    "4 kwartał": 4,
    "rok": 0
}

df_rozwody["Kwartał"] = df_rozwody["Kwartał"].map(mapa_kwartał)

In [27]:
df_rozwody.isna().sum()

Województwo     0
Kwartał        17
Rok            17
Rozwody        17
dtype: int64

In [28]:
df_rozwody

             Województwo  Kwartał   Rok  Rozwody
0                 POLSKA      1.0  2016  15239.0
776            POMORSKIE      0.0  2016   3851.0
777              ŚLĄSKIE      0.0  2016   8185.0
778       ŚWIĘTOKRZYSKIE      0.0  2016   1799.0
779  WARMIŃSKO-MAZURSKIE      0.0  2016   2661.0
..                   ...      ...   ...      ...
930              ŚLĄSKIE      NaN  None      NaN
931       ŚWIĘTOKRZYSKIE      NaN  None      NaN
932  WARMIŃSKO-MAZURSKIE      NaN  None      NaN
933        WIELKOPOLSKIE      NaN  None      NaN
934   ZACHODNIOPOMORSKIE      NaN  None      NaN

[782 rows x 4 columns]

In [29]:
df_rozwody = df_rozwody.dropna()

In [30]:
df_rozwody.info()

<class 'pandas.core.frame.DataFrame'>
Index: 765 entries, 0 to 917
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Województwo  765 non-null    object
 1   Kwartał      765 non-null    float64
 2   Rok          765 non-null    object
 3   Rozwody      765 non-null    float64
dtypes: float64(2), object(2)
memory usage: 29.9+ KB

In [31]:
df_rozwody["Kwartał"] = df_rozwody["Kwartał"].astype(int)

C:\Users\Wiola\AppData\Local\Temp\ipykernel_2040\3730254732.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rozwody["Kwartał"] = df_rozwody["Kwartał"].astype(int)

In [32]:
df_rozwody

             Województwo  Kwartał   Rok  Rozwody
0                 POLSKA        1  2016  15239.0
776            POMORSKIE        0  2016   3851.0
777              ŚLĄSKIE        0  2016   8185.0
778       ŚWIĘTOKRZYSKIE        0  2016   1799.0
779  WARMIŃSKO-MAZURSKIE        0  2016   2661.0
..                   ...      ...   ...      ...
602          MAZOWIECKIE        3  2024   1651.0
603             OPOLSKIE        3  2024    264.0
604         PODKARPACKIE        3  2024    425.0
596         DOLNOŚLĄSKIE        3  2024   1016.0
917   ZACHODNIOPOMORSKIE        0  2024   2907.0

[765 rows x 4 columns]

In [33]:
df_rozwody.to_csv('rozwody', index=False)